<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_c01eFLxcUFsz0gxTkb8YlyA5i6VowOE</string>
	<key>GCM_SENDER_ID</key>
	<string>801737056763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lsm00.praticamente</string>
	<key>PROJECT_ID</key>
	<string>teaapp-3d7ad</string>
	<key>STORAGE_BUCKET</key>
	<string>teaapp-3d7ad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801737056763:ios:56d5b9e3553d2585532b5e</string>
	<key>DATABASE_URL</key>
	<string>https://teaapp-3d7ad-default-rtdb.firebaseio.com</string>
</dict>
</plist>